<div class="body">
  <div class="form">
    <div class="tag">
      The details of the bank are:
    </div>
    <div>
      <label>IFSC Code:
      </label>
      <span>{{bankData.ifsc}}</span>

    </div>
    <div>
      <label>Branch:
      </label>
      <span>{{bankData.branch}}</span>
    </div>
    <div>
      <label>Address:
      </label>
      <span>{{bankData.address}}</span>

    </div>
    <div>
      <label>City:
      </label>
      <span>{{bankData.city}}</span>

    </div>
    <div>
      <label>District:
      </label>
      <span>{{bankData.district}}</span>

    </div>
    <div>
      <label>State:
      </label>
      <span>{{bankData.state}}</span>

    </div>
    <div>
      <label>Bank Name:
      </label>
      <span>{{bankData.bank_name}}</span>

    </div>
  </div>
</div>